*,
*::after,
*::before {
  box-sizing: border-box;
}
.card-container {
  width: fit-content;
  margin-bottom: 16px;
}
pre {
  background: black;
  padding: 2rem;
  margin: 0;
  border-radius: 1rem;
  width: 168px;
  position: relative;
  transform-style: preserve-3d;
  /* transition: .1s; */
}
pre::before,
pre::after {
  content: '';
  position: absolute;
  border-radius: inherit;
}
pre::after {
  transition: .5s;
}
pre::before {
  inset: .75rem;
  background: black;
  transform: translateZ(-24px);
  filter: blur(15px);
  opacity: .5;
}
pre::after {
  transition: .5s;
  inset: -.5rem;
  background: linear-gradient(-45deg, var(--colorPrimary), var(--colorSecondary));
  transform: translateZ(-25px);
}
pre:hover::before {
  transform: translateZ(-49px);
}
pre:hover::after {
  transform: translateZ(-50px);
}
pre:hover {
  transform:
    perspective(5000px)
    rotateY(var(--rotateX))
    rotateX(var(--rotateY))
    translateZ(50px);
}
