<div class="home">
  <section class="section-row">
    <div class="col-4">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="perfil-background">
              <div class="perfil-image">
              </div>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="card-back-info">
              <a class="btn-github" href="http://github.com/GabrielCunha6403" target="_blank">
                <i class="fab fa-github"></i>
              </a>
              <a class="btn-linkedin" href="https://www.linkedin.com/in/jo%C3%A3o-gabriel-cunha-jata%C3%AD-582791189/" target="_blank">
                <i class="fab fa-linkedin"></i>
              </a>
              <a class="btn-whatsapp" href="https://wa.link/90k0vk" target="_blank">
                <i class="fab fa-whatsapp"></i>
              </a>
              <a class="btn-download" href="../../../assets/docs/currículo.pdf" target="_blank">
                <i class="fas fa-download"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="info-section col-7">
      <h2>Lorem ipsum</h2>
      <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper suscipit volutpat. Sed porta elit at arcu ultricies, sit amet vulputate turpis vehicula. Integer dui sapien, lacinia ac porttitor vitae, pulvinar eget ante. Suspendisse ornare vulputate ligula, porttitor eleifend lorem consectetur vitae. In sapien lacus, ullamcorper eu mauris sit amet, porta maximus nunc. Nunc sit amet nisl dignissim, pulvinar ante non, pellentesque libero. Fusce quam metus, consequat et tellus eget, suscipit hendrerit tellus. Maecenas lorem enim, ullamcorper ut lacus in, vehicula elementum augue. Praesent accumsan massa velit, eget semper ligula tincidunt sit amet. Aenean eget eros et dolor vehicula tincidunt id ac nisi. </label>
    </div>
  </section>
  <section class="body-content">
    <div class="body-container">
      <h2>Lorem</h2>
      <span class="line-divider"></span>
      <div class="row">
        <app-card class="col-md-6" *ngFor="let project of projects" [project]="project"></app-card>
      </div>
    </div>
  </section>
</div>
<app-modal></app-modal>
