<div class="timeline">
  <div class="tl-row" *ngFor="let line of data; let i = index">
    <div class="tl-point">
      <div class="line" *ngIf="i < (data.length - 1)"></div>
      <!-- <div class="line-mobile"></div> -->
      <span>{{ line.date }}</span>
      <div class="line-mobile"></div>
    </div>
    <div class="tl-body">
      <h4>{{ line.title }}</h4>
      <p>{{ line.description }}</p>
      <div class="tl-topics">
        <span *ngFor="let top of line.topics; let isFirst = first">{{ (!isFirst ? ' • ' : '') + top }}</span>
      </div>
    </div>
  </div>
</div>
