.menu {
  position: sticky;
  height: 60px;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0 24px;
  transition: .2s ease-in-out;
}
.menu:hover {
  background: black;
}
.fixed-top {
  background: black;
}
.menu ul {
  list-style: none;
  margin: 12px 0;
  display: flex;
}
.menu ul li {
  margin-left: 16px;
  position: relative;
}
.item-selected::after {
  transition: .2s;
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--colorSecondary);
  bottom: 0;
  left: 0;
}
.divider {
  margin-right: 16px;
  height: 100%;
  width: 3px;
  background-color: var(--colorPrimary);
}
.toggle-menu-mobile {
  display: none;
}
.blur-background {
  display: flex;
}
@media (max-width: 906px) {
  .toggle-menu-mobile {
    display: flex;
  }
  .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
  }
  .blur-background {
    left: 0;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
